.DS_Store
.idea
/Assignment2/DocAnalysisOCR/.vs/DocAnalysisOCR/v15/.suo
/Assignment2/DocAnalysisOCR/__pycache__
/Assignment2/DocAnalysisOCR/Train
/Assignment2/DocAnalysisOCR/Train.csv
/Assignment2/DocAnalysisOCR/Test
/Assignment2/DocAnalysisOCR/Test.csv